/**
 * Helpers
 */
/**
 * Media Query
 */
/**
 * Site common
 */
/**
 * General
 */
/**
 * animation
 */
.ani-duration-1s {
  animation-duration: 1s !important;
}

.ani-duration-2s {
  animation-duration: 2s !important;
}

.ani-duration-3s {
  animation-duration: 3s !important;
}

.ani-duration-4s {
  animation-duration: 4s !important;
}

.ani-duration-5s {
  animation-duration: 5s !important;
}

/**
 * page style
 */
header #snowing {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  touch-action: none;
  opacity: 1;
  transition: opacity 1s;
}
header #snowing.hide {
  opacity: 0;
}
header .img_snow {
  display: none;
}
header .language {
  position: fixed;
  top: 3vh;
  right: 20px;
  z-index: 100;
  white-space: nowrap;
}
header .language button {
  display: inline-block;
  padding: 0.2em;
  margin: 0 0.3em;
  font-size: 20px;
}
header .language button.on {
  font-weight: bold;
  text-decoration: underline;
}

main .swiper-slide {
  background: #fff;
}
main .swiper-pagination {
  position: fixed;
  top: 50%;
  right: 30px;
  z-index: 100;
  transform: translateY(-50%);
}
main .swiper-pagination.hide {
  display: none;
}
main .swiper-pagination .swiper-pagination-bullet {
  display: block;
  position: relative;
  width: 7px;
  height: 7px;
  margin: 20px 0;
  border-radius: 50%;
  cursor: pointer;
  background: #aaa;
  transition: background 0.3s;
}
main .swiper-pagination .swiper-pagination-bullet:hover, main .swiper-pagination .swiper-pagination-bullet[class*=active] {
  background: #000;
}
main .swiper-pagination .swiper-pagination-bullet:hover::after, main .swiper-pagination .swiper-pagination-bullet[class*=active]::after {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  width: 13px;
  height: 13px;
  border: 1px solid #bbb;
  border-radius: 50%;
}
main .swiper-pagination .swiper-pagination-bullet:first-child {
  display: none;
}
main .swiper-pagination .swiper-pagination-bullet [class^=no] {
  position: absolute;
  top: 50%;
  right: calc(100% + 10px);
  white-space: nowrap;
  text-align: right;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.swiper-pagination-bullet-active [class^=no] {
  opacity: 1 !important;
}

main .intro .cont {
  position: relative;
  width: 570px;
  height: 100%;
  margin: 0 auto;
}
main .intro .cont .title {
  padding-top: 100px;
  opacity: 0;
  transition: opacity 2s;
}
.swiper-slide-active .intro .title {
  transition-delay: 1s !important;
  opacity: 1 !important;
}

main .intro .cont .title img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
main .intro .cont .bott {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 2s;
}
.swiper-slide-active .intro .bott {
  transition-delay: 2s !important;
  opacity: 1 !important;
}

main .intro .cont .bott .txt {
  font-size: 17px;
  text-align: center;
}
main .intro .cont .bott .txt p {
  position: relative;
  transition: color 0.5s;
}
main .intro .cont .bott .txt p::after {
  content: attr(data-kr);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s;
}
[data-lang=kr] .intro .txt p {
  color: transparent;
}
[data-lang=kr] .intro .txt p::after {
  opacity: 1 !important;
  color: #000;
}

main .intro .cont .bott .guide {
  margin-top: 50px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
main .intro .cont .bott .guide .ico {
  display: block;
  margin: 10px auto 0;
  animation: bounce 1.5s infinite;
}
main .sec_page {
  overflow: hidden;
  position: relative;
  height: 100vh;
}
main .sec_page .imgs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
main .sec_page .imgs figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
main .sec_page .imgs figure img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
main .sec_page .imgs figure figcaption {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  left: -100vw;
  width: 1px;
  color: transparent;
  user-select: none;
  pointer-events: none;
  touch-action: none;
}
main .sec_page .imgs .fig_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
main .sec_page .txts [class^=box] {
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}
.swiper-slide-active .box1 {
  transition-delay: 2s !important;
  opacity: 1 !important;
}

.swiper-slide-active .box2 {
  transition-delay: 3s !important;
  opacity: 1 !important;
}

main .sec_page .txts [class^=box] p {
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  transition: color 0.5s;
}
main .sec_page .txts [class^=box] p.indent {
  text-indent: 1em;
}
main .sec_page .txts [class^=box] p.paragraph {
  padding-top: 1em;
}
main .sec_page .txts [class^=box] p em {
  font-size: 1.2em;
}
main .sec_page .txts [class^=box] p::after {
  content: attr(data-kr);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9em;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s;
}
[data-lang=kr] .txts p {
  color: transparent;
}
[data-lang=kr] .txts p::after {
  opacity: 1 !important;
  color: #000;
}

main .sec_page.page1 .txts {
  position: absolute;
  top: 25%;
  left: 55%;
}
main .sec_page.page1 .txts .box1 {
  position: relative;
}
main .sec_page.page1 .txts .box2 {
  margin-top: 80px;
}
main .sec_page.page1 .nod-right {
  transform-origin: 50% 61%;
}
main .sec_page.page2 .box1 {
  top: 30%;
  left: 10%;
}
main .sec_page.page2 .box2 {
  top: 83%;
  left: 50%;
}
main .sec_page.page2 .nod-left {
  transform-origin: 18% 79%;
}
main .sec_page.page3 .box1 {
  top: 45%;
  left: 48%;
}
main .sec_page.page3 .swing {
  transform-origin: 99% 30%;
}
main .sec_page.page4 .box1 {
  top: 5%;
  left: 6%;
}
main .sec_page.page4 .box2 {
  top: 85%;
  left: 60%;
}
main .sec_page.page4 .swing {
  transform-origin: 24% 57%;
}
main .sec_page.page5 .box1 {
  top: 44%;
  left: 17%;
}
main .sec_page.page5 .box2 {
  top: 5%;
  left: 67%;
}
@keyframes bear-show {
  0% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
main .sec_page.page5 .bear {
  animation-name: bear-show;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-direction: alternate;
}
main .sec_page.page6 .box1 {
  top: 15%;
  left: 13%;
}
main .sec_page.page6 .float-up-down {
  animation-delay: 3s;
}
main .sec_page.page7 .box1 {
  top: 15%;
  left: 65%;
}
main .sec_page.page8 .box1 {
  top: 15%;
  left: 7%;
}
main .sec_page.page9 .box1 {
  top: 5%;
  left: 10%;
}
main .sec_page.page9 .box2 {
  bottom: 5%;
  left: 55%;
}
main .sec_page.page9 .nod-left, main .sec_page.page9 .nod-right {
  transform-origin: 28% 72%;
}
main .sec_page.page10 .box1 {
  top: 10%;
  left: 23%;
}
main .sec_page.page10 .box2 {
  bottom: 15%;
  left: 75%;
}
main .sec_page.page10 .animals {
  margin-top: -15vh;
}
main .sec_page.page10 .fig_box img {
  transform: translate(0, 0);
  bottom: 0;
  top: initial;
  left: 0;
}
main .sec_page.page11 .box1 {
  top: 10%;
  left: 65%;
}
main .sec_page.page11 .imgs {
  transform: scale(0.8);
}
main .sec_page.page11 .nod-right {
  transform-origin: 50% 5%;
}
main .sec_page.page12 .box1 {
  top: 40%;
  left: 25%;
}

/*# sourceMappingURL=style.css.map */
